{% extends 'myauth/base.html' %}

{% block title %}
  Главная страница
{% endblock %}

{% block body %}
    <h1>Главная страница пользователя: {{ user.username }}</h1>
    <form action="{% url 'myauth:calculator' %}">
        <button type="submit">Калькулятор</button>
    </form>
    <p></p>
    <form action="{% url 'myauth:profile' pk=user.profile.pk %}">
        <button type="submit">Профиль</button>
    </form>
    <p></p>
    <form action="{% url 'myauth:logout' %}">
        <button type="submit">Выход</button>
    </form>

{% endblock %}