{% extends 'myauth/base.html' %}

{% block title %}
  {{ profile.user }}
{% endblock %}

{% block body %}
  <p>Фамилия: {{ profile.surname }}</p>
  <p>Имя: {{ profile.name }}</p>
  <p>Отчество: {{ profile.middle_name }}</p>
  <p>Почта: {{ profile.email }}</p>
  <p>Наименование организации: {{ profile.organization }}</p>
  <p>ИНН: {{ profile.inn }}</p>
  <p>Веб-сайт организации: {{ profile.site }}</p>
  <p>Промышленность: {{ profile.branch }}</p>
  <p>Страна: {{ profile.country }}</p>
  <p>Город: {{ profile.city }}</p>
  <p>Должность: {{ profile.position }}</p>

  <form action="{% url 'myauth:profile_update' pk=profile.pk %}">
        <button type="submit">Редактировать профиль</button>
  </form>
  <p></p>
  <form action="{% url 'myauth:main' %}">
        <button type="submit">Главная страница</button>
  </form>

{% endblock %}